# dependencies
node_modules/
package-lock.json

# next.js
.next/
out/

# build
tsconfig.tsbuildinfo

# env
.env
.env.local
.env.production

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/

# omc
.omc/

# debug
npm-debug.log*
